@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fbf8f3;
	--foreground: #0d0d0d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #fafafa;
	}
}

@layer components {
	.btn-mystia {
		@apply flex cursor-pointer items-center justify-center gap-2 rounded-xl bg-opacity-80 px-4 py-2 font-medium backdrop-blur-md transition-all hover:brightness-95 active:scale-[.98] active:brightness-90 disabled:cursor-not-allowed disabled:opacity-50;
	}

	.btn-mystia-primary {
		@apply btn-mystia bg-primary text-primary-foreground;
	}

	.btn-mystia-secondary {
		@apply btn-mystia bg-secondary text-secondary-foreground;
	}

	.btn-mystia-success {
		@apply btn-mystia bg-success text-success-foreground;
	}

	.btn-mystia-danger {
		@apply btn-mystia bg-danger text-danger-foreground;
	}

	.textarea-mystia {
		@apply min-h-20 w-full resize-none rounded-xl border border-white/10 bg-black/10 p-4 pl-6 transition-all focus:outline-none focus:ring-2 focus:ring-primary/50;
		field-sizing: content;
	}
}

@layer utilities {
	.bg-blend-mystia-pseudo {
		// Due to the poor performance of `background-attachment: fixed`, use pseudo-elements to achieve a similar fixed background effect.
		@apply before:fixed before:-z-10 before:h-full before:w-full before:bg-mystia before:bg-cover before:bg-center before:bg-no-repeat before:bg-blend-overlay before:content-[''];

		image-rendering: pixelated;

		&::before {
			background-color: var(--background);
		}

		@media (prefers-color-scheme: dark) {
			&::before {
				background-color: rgba(0, 0, 0, 0.9);
			}
		}
	}

	.image-rendering-pixelated {
		image-rendering: pixelated;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}
