@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fbf8f3;
	--foreground: #0d0d0d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #fafafa;
	}
}

@layer components {
	.btn-mystia {
		@apply flex cursor-pointer items-center justify-center gap-2 rounded-xl bg-opacity-80 px-4 py-2 font-medium backdrop-blur-md transition-all hover:brightness-95 active:scale-[.98] active:brightness-90 disabled:cursor-not-allowed disabled:opacity-50 dark:backdrop-blur-none;
	}

	.btn-mystia-primary {
		@apply btn-mystia bg-primary text-primary-foreground dark:bg-primary/70;
	}

	.btn-mystia-secondary {
		@apply btn-mystia bg-secondary text-secondary-foreground dark:bg-secondary/70;
	}

	.btn-mystia-success {
		@apply btn-mystia bg-success text-success-foreground dark:bg-success/70;
	}

	.btn-mystia-danger {
		@apply btn-mystia bg-danger text-danger-foreground dark:bg-danger/70;
	}
}

@layer utilities {
	.bg-blend-mystia-pseudo {
		// Due to the poor performance of `background-attachment: fixed`, use pseudo-elements to achieve a similar fixed background effect.
		@apply before:fixed before:-z-10 before:h-full before:w-full before:bg-mystia before:bg-cover before:bg-center before:bg-no-repeat before:bg-blend-overlay before:content-[''];

		image-rendering: pixelated;

		&::before {
			background-color: var(--background);
		}

		@media (prefers-color-scheme: dark) {
			&::before {
				background-color: rgba(0, 0, 0, 0.9);
			}
		}
	}

	.image-rendering-pixelated {
		image-rendering: pixelated;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}
